body {
  background: url(../images/back.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:18.5px;
}
#box {
  text-align : center ;
}

#box1 {
  text-align : center ;
  background : grey;
  border : solid 1px black ;
  border-radius : 5px;
}
